*.o
*.lo
*.la
.*.swp
.libs
.deps

Makefile
Makefile.in

*.trs
*.log
ChangeLog
configure
config.log
depcomp
compile
config.guess
config.h
config.sub
ltmain.sh
configure.ac
INSTALL
mkinstalldirs
config.status
stamp-h1
config.h.in
autom4te.cache
libtool
missing
aclocal.m4
install-sh
gtk-doc.m4
gtk-doc.make
test-driver
common/stamp-esconf-marshal.h
common/esconf-marshal.c
common/esconf-marshal.h
common/esconf-alias.h
common/esconf-aliasdef.c
common/esconf-gdbus-bindings.c
common/esconf-gdbus-bindings.h
docs/reference/esconf-decl-list.txt
docs/reference/sgml-build.stamp
docs/reference/esconf.signals
docs/reference/html-build.stamp
docs/reference/version.xml
docs/reference/sgml.stamp
docs/reference/esconf.prerequisites
docs/reference/html.stamp
docs/reference/esconf-undocumented.txt
docs/reference/tmpl-build.stamp
docs/reference/tmpl.stamp
docs/reference/xml
docs/reference/esconf.hierarchy
docs/reference/esconf-unused.txt
docs/reference/html
docs/reference/scan-build.stamp
docs/reference/esconf.interfaces
docs/reference/esconf-decl.txt
docs/reference/esconf.args
docs/reference/*.bak
docs/reference/tmpl/*.bak
docs/reference/tmpl/stamp-esconf-marshal.sgml
m4/*
po/POTFILES
po/Makefile.in.in
po/stamp-it
po/*.gmo
po/*.pot
tests/get-properties/t-get-arrayv
tests/get-properties/t-get-boolean
tests/get-properties/t-get-double
tests/get-properties/t-get-int
tests/get-properties/t-get-string
tests/get-properties/t-get-stringlist
tests/get-properties/t-get-uint64
tests/has-properties/t-has-arrayv
tests/has-properties/t-has-boolean
tests/has-properties/t-has-double
tests/has-properties/t-has-int
tests/has-properties/t-has-string
tests/has-properties/t-has-stringlist
tests/has-properties/t-has-uint64
tests/object-bindings/t-object-bindings
tests/others/t-issue-16
tests/property-changed-signal/t-string-changed-signal
tests/property-changed-signal/t-string-changed-signal-detailed
tests/reset-properties/t-reset-arrayv
tests/reset-properties/t-reset-boolean
tests/reset-properties/t-reset-double
tests/reset-properties/t-reset-int
tests/reset-properties/t-reset-string
tests/reset-properties/t-reset-stringlist
tests/reset-properties/t-reset-uint64
tests/set-properties/t-set-arrayv
tests/set-properties/t-set-boolean
tests/set-properties/t-set-double
tests/set-properties/t-set-int
tests/set-properties/t-set-string
tests/set-properties/t-set-stringlist
tests/set-properties/t-set-uint64
tests/tests-end/t-tests-end

esconf/esconf-dbus-bindings.h
esconf/libesconf-0.pc
esconf/Esconf-0.gir
esconf/Esconf-0.typelib
esconf/libesconf-0.vapi
esconf-query/esconf-query
esconfd/esconfd
esconfd/esconf-dbus-server.h
esconfd/com.expidus.Esconf.service
